body {
	@apply text-light
	font-light
	text-base
	bg-darker
	overflow-y-scroll
	selection:text-dark
	selection:bg-accent
	selection:bg-opacity-60;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
