name: Auto Deploy
on:
  push:
    branches: [master]
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: '${{ secrets.GH_TOKEN }}'

      - uses: pnpm/action-setup@v2
        with:
          version: 6.23.6

      - uses: actions/setup-node@v2
        with:
          node-version: '17'
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Deploy to GH-Pages
        uses: JamesIves/github-pages-deploy-action@4.1.8
        with:
          token: '${{ secrets.GH_TOKEN }}'
          branch: gh-pages
          folder: build
          git-config-name: Outer Wilds Mods Website
          git-config-email: Outer Wilds Mods Website
          single-commit: true
